body{
    
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{ 
    background-color: #E9E9E9;
    
    margin: auto;

    width: 600px;

    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    padding: 32px;
}
.col-1{
    width: 50%;
    padding: 10px 20px;
}
.col-2{
    width: 50%;
    padding: 10px 20px;
}
.flex-container {
    display: flex;

    justify-content: space-around;
}
.calculo{
    margin-top: 16px;
}

h1{
    text-align: center;
    font-family: Geneva, sans-serif;

}
img{
    text-align: center;
}
.imagem{
    text-align: center;
}
.contact{
    padding-bottom: 24px;
}

input{
    width: max-content;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
a{
    color: #000;
    font-weight: bold;
}
a:hover{
    color:  #0723f672;
}
h2{
    text-align: center;
}
h3{
    margin-top: 0;
}
.contact{
    margin-top: 32px;
}
button{
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(39, 3, 198);
    color: #E9E9E9;
}
header{
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
}
@media screen and (max-width: 620px) {
    html {
        font-size: 12px;
    }
    .container{
        width: 80%;
        text-align: center;
    }
    .flex-container{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    
}