body{
    
    background: linear-gradient();
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{ 
    background-color: #E9E9E9;
    margin: auto;

    width: 600px;

    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    padding: 32px;
}
.col-1{
    width: 50%;
    padding: 10px 20px;
}
.col-2{
    width: 50%;
    padding: 10px 20px;
}
.flex-container {
    display: flex;

    justify-content: space-around;
}
.calculo{
    margin-top: 16px;
}
.infos{
    margin-top: 32px;
}
h1{
    text-align: center;

}
img{
    text-align: center;
}
.imagem{
    text-align: center;
}
.contact{
    padding-bottom: 24px;
}

input{
    width: max-content,;
}
a{
    color: #000;
    font-weight: bold;
}
a:hover{
    color:  #0723f672;
}
h2{
    text-align: center;
}
h3{
    margin-top: 0;
}